*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}

:root {
    --ff-primary: 'Hack', monospace;
    --ff-secondary: 'Inconsolata', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    /* --clr-accent: #16e0bd; */
     --clr-accent:grey;

    --fs-h1: 2.0rem;
    --fs-h2: 2.5rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.5rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25), 0.125em 0.125em 0.25em rgba(0,0,0,.15);

    /* UI */
    --ui-height: 1em;
    --ui-bg: white;
    --ui-fg: black;
    --ui-fs: 1.2rem;
}

/* typography */
h1,
h2,
h3{
    line-height: 1;
    text-transform: uppercase;
    margin:0;
      font-family: var(--ff-secondary);
}

h1{ font-size: var(--fs-h1) }
h2{ font-size: var(--fs-h2) }
h3{ font-size: var(--fs-h3) }

html { font-size: 10px; }

a {
  font-family: var(--ff-secondary);
  color: var(--ff-dark);
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
a:visited {
    color: var(--clr-dark);
}
a:hover {
    color: var(--clr-dark);
    opacity: 0.7;
}


/* general */
body{
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
      font-family: var(--ff-primary);
      font-size: var(--fs-body);
      line-height: 1.6;
      text-align: center;
      height: 100%;    
      overflow-y: hidden;
  }

  /* test */

  /* ---------------- */

  .header{
      width: 100%;
      height: 50px;
      /* display: */ 
      /* background-color: #101010; */
      background-color: none;
      /* position: fixed; */
      font-family: var(--ff-secondary);
  }


  .inner_header{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
  }


  .title_container {
      height: 100%;
      display: table;
  }

  .title_container a{
       color: var(--clr-dark); 
      height: 100%;
      display: table-cell;
      vertical-align: middle;
      /* font-family: 'Hammersmith One', sans-serif; */
      font-size: 32px;
      font-weight: 200;
  }

  .title_container h1 span{
      font-weight: 800;
  }

  .nav_words{
      padding-left: 20px;
  }

  .nav_drafts{
      padding-right: 20px;
  }

  .nav_item{
      /* color: white; */
       color: var(--clr-dark); 
      font-size: 1.3em;
  }

  .navigation{
      float: right;
      height: 100%;
  }

  .draft_title {
      margin-bottom: 5px;
  }

  /* content */

  .content_list {
    font-size: 1.2em;
    text-transform: uppercase;
    margin: auto;
    padding: 10%;
  }

  /* draft view */
  .canvas-container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      /* margin: 0 auto; */
      padding-left: 10px;
      padding-right: 10px;
      touch-action: none; /*REMOVES TOCUH UPDATE!!*/
  }

  .canvas {
      width: 100%;
      height: 50vh;
      /* height: 500px; */
  }

  .draft_nav-button{
      font-size: 3.5rem;
      color: var(--clr-dark);
      background-color: var(--clr-light);
      border: 0;
      z-index:1;
  }
  .draft_nav-button:hover{
      font-size: 3.5rem;
      background-color: var(--clr-light);
      color: var(--clr-accent);
      /* color: var(--clr-dar); */
      /* background-color: var(--clr-dark); */
      border: 0;
  }

  .front_enter{
      font-size: 3.5rem;
      color: var(--clr-dark);
      background-color: rgb(255, 255, 255, 1);
      border: 0;
      z-index:1;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      border: solid;
      border-width: 2px;
  }
  .front_enter:hover{
      border: solid;
      border-width: 2px;
      font-size: 3.5rem;
      background-color: var(--clr-light);
      color: var(--clr-accent);
      opacity: 1;
      /* color: var(--clr-dar); */
      /* background-color: var(--clr-dark); */
  }

  .draft_info{
    position: absolute;
    margin: 0 auto;
    /* padding-left: 10px; */
    /* padding-right: 10px; */
  width: 100%;
  text-align: center;
  background: rgba(255,255,255,1);
  opacity: 0;
    transition: opacity .5s;
  text-align: center;
  font-size: 1em;
}

#info_div{
      z-index:-1;
}

.info_text {
  margin: 0 auto;
  text-align: center;
}
 
/* UI */

#draft_param-L {
  display: flex;
}
#draft_param-R {
  display: flex;
}

#draft_param-draw {
  display: flex;
}

#draft_param {
    margin-top: 1em;
    
}

/* draft button */
.draft_button{
    display: inline-block;
    background-color: var(--ui-bg);
    color: var(--ui-fg);
    border: none;
    border-width: 2px;
    opacity: 0.7;
    transition-duration: .2s;
    margin: 5px;
    padding: 5px 10px;
    text-align: center;
    font-size: var(1.5em);
    z-index: 1;
}

.draft_button:hover{
    opacity: 2;
}

.draft_toggle {
}
#info_toggle {
  z-index: 2;
}

/* draft slider */
.draft_slider-container{
    width: 100px;
    /* margin: 5px; */
    margin: 0 auto;
}

.draft-slider{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: var(--ui-height);
    background: var(--ui-bg);
    border: solid;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#updateRate_slider {
    transform: rotateY(180deg);
}

.draft-slider:hover {
    opacity: 1;
}

.draft-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width:10px;
    height: var(--ui-height);
    background: var(--ui-fg);
    cursor: pointer;
}


.draft-slider::-moz-range-thumb {
    border: none;
    border-radius: 0px 0px 0px 0px;
    width:10px;
    height: var(--ui-height);
    background: var(--ui-fg);
    cursor: pointer;
}

.draft_slider-text{
    position: relative;
    bottom: 5px;
    text-align: center;
    font-size: var(--ui-fs);
}

/* toggle switch */
.draft_toggle-label{
    position: relative;
    display: inline-block;
    margin-right: 2px;
    margin-left: 2px;
    width: 60px;
    height: var(--ui-height);
}

.draft_toggle-label input{
    opacity: 0;
    width: 0;
    height: 0;
}

.draft_toggle-switch{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
}

.draft_toggle-switch:before{
    position: absolute;
    content: "";
    height: calc(var(--ui-height) - 4px);
    width: 26px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked + .draft_toggle-switch {
    background-color: #2196F3;
}

input:checked + .draft_toggle-switch:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.draft_toggle-text{
    position: relative;
    bottom: 10px;
    text-align: center;
    font-size: var(--ui-fs);
}

/* MEDIA */ 
@media (min-width: 0px ) {
    .canvas{
        width: 90%;
        height: 60vh;
    }
    .draft_info {
        width: 100%;
        /* height: 500vh; */
        font-size: 0.85em;
    }
    .info_text {
      max-width: 80%;
    }
    .words_div{
      margin: 0 auto;
        width: 90%;
    }
}

@media (min-width: 700px ) {
    .canvas{
        width: 90%;
        height: 70vh;
    }
    .draft_info {
        width: 100%;
        height: 70vh;
        font-size: 1em;
    }
    .info_text {
    }
    .words_div{
      margin: 0 auto;
        width: 100%;
    }
}

@media (min-width: 992px) {
    .canvas{
        width: 65%;
        height: 70vh;
    }
    .draft_info {
        width: 100%;
        height: 70vh;
    }
    
    .info_text {
        max-width: 40%;
    }
    .words_div{
      margin: 0 auto;
        width: 65%;
    }
}

@media (min-width: 1200px) {
    .canvas{
        width: 50%;
        height: 70vh;
    }
    /* .draft_info{ */
    /*     width: 50%; */
    /*     height: 70vh; */
    /* } */
    .words_div{
      margin: 0 auto;
        width: 50%;
        height: 70vh;
    }
}

@media (min-width: 1400px) {
    /* :root { */
    /*     --ui-fs:1vw; */
    /* } */
    .canvas{
        width: 45%;
        height: 70vh;
    }
    /* .draft_info{ */
    /*     width: 60%; */
    /*     height: 70vh; */
    /* } */
    .words_div{
      margin: 0 auto;
        width: 60%;
        height: 70vh;
    }
}

/* @media (orientation: portrait) { */
/*     :root { */
/*         --ui-fs:2.5vw; */
/*     } */
/* } */
/* @media (orientation: landscape) { */
/*     :root { */
/*         --ui-fs:1vw; */
/*     } */
/* } */
